<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"></link>
    <link href="/css/mycss.css" rel="stylesheet" type="text/css"></link>
    <link href="/css/sweet-alert.css" rel="stylesheet" type="text/css"></link>

    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/sweet-alert.min.js" ></script>
    <script src="/js/md5.js"></script>
    <script src="/js/myjs.js"></script>
    <title>登录</title>
</head>
<body background="/images/bg3.jpg">

<header class="LRHead">
    <h1>党员之家</h1>
</header>
<div class="LRBody">
    <div class="LRForm">
        <form id="LoginForm" method="post">
            <div>
                <input type="number" name="uNumber" placeholder="学号" id="LoginID"/><br></br>
                <input type="password" name="uPass" placeholder="密码" value="" id="LoginPass"/><br></br>
            </div>
        </form>
        <button class="btn MySmBtn" id="btnRegister">注册</button>
        <button class="btn MySmBtn" id="btnLogin">登陆</button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnLogin").click(function () {
            var data = new Object();
            var sendurl = "http://localhost:8080/user/userLogin";
            data['uid'] = $("#LoginID").val();
            data['pass'] =  hex_md5($("#LoginPass").val());
            var resData = requestSend(sendurl, data);
            if(loadResult(resData.feedback)){
                location.href="/userView/userindex";
            }

        });

        $("#btnRegister").click(function () {
            location.href = "/userView/userRegister";
        });
    });
</script>
</body>
</html>
