<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"></meta>
    <title></title>
    <meta name="renderer" content="webkit"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"></meta>

    <link rel="stylesheet" href="/css/xadmin.css"></link>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"></link>
    <link href="/css/sweet-alert.css" rel="stylesheet" type="text/css"></link>
    <link href="/css/mycss.css" rel="stylesheet" type="text/css"></link>

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/sweet-alert.min.js" ></script>
    <script type="text/javascript" src="/js/md5.js"></script>
    <script type="text/javascript" src="/js/myjs.js"></script>
    <!--[if lt IE 9]>

    <![endif]-->
</head>

<body>
<div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a>
                <cite>信息完善</cite>
            </a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>

<div class="x-body">
    <h1 id = "noticeTitle" style="text-align: center; font-size: 20px">信息完善</h1>
    <br></br>
    <div class="person-msg-update">
        学号：
    </div>
</div>

</body>

</html>