<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"></meta>
    <title></title>
    <meta name="renderer" content="webkit"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"></meta>

    <link rel="stylesheet" href="/css/xadmin.css"></link>
    <!--<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"></link>-->
    <link href="/css/sweet-alert.css" rel="stylesheet" type="text/css"></link>
    <!--<link href="/css/mycss.css" rel="stylesheet" type="text/css"></link>-->

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/sweet-alert.min.js" ></script>
    <script type="text/javascript" src="/js/md5.js"></script>
    <script type="text/javascript" src="/js/myjs.js"></script>
    <!--[if lt IE 9]>

    <![endif]-->
</head>

<body>
<br></br>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">学号</label>
        <div class="layui-input-block">
            <input id = "uid" disabled = "true" type="text" th:value="${user.uid}" name="uid" lay-verify="required" placeholder="请输入学号" autocomplete="off" class="layui-input"></input>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input id = "name"  type="text" th:value="${user.name}" name="name" lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input"></input>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div id = "sex"  class="layui-input-block">
            <input id = "sexMan" type="radio" name="sex" value="1" title="男" checked = "false"></input>
            <input id = "sexWoman" type="radio" name="sex" value="2" title="女"></input>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">生日</label>
            <div class="layui-input-inline">
                <input id = "birth" type="text" class="layui-input" placeholder="yyyy-MM-dd" th:value="${user.birth}"></input>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机</label>
        <div class="layui-input-block">
            <input id = "phone" type="text" name="phone" lay-verify="required" placeholder="请输入手机号" th:value="${user.phone}" autocomplete="off" class="layui-input"></input>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input id = "mail" type="text" name="mail" lay-verify="required" placeholder="请输入邮箱号" th:value="${user.mail}" autocomplete="off" class="layui-input"></input>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">年级</label>
        <div class="layui-input-block">
            <select id = "grade" name="grade" lay-verify="required">
                <option value=""></option>
                <option value="0">大一</option>
                <option value="1">大二</option>
                <option value="2">大三</option>
                <option value="3">大四</option>
                <option value="4">研一</option>
                <option value="5">研二</option>
                <option value="6">研三</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班级</label>
        <div class="layui-input-block">
            <input id = "classNum" type="text" th:value="${user.classNum}" name="classNum" lay-verify="required" placeholder="请输入班级号" autocomplete="off" class="layui-input"></input>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">党支部</label>
        <div class="layui-input-block">
            <select id="bid" th:value="${user.bid}" name="grade" lay-verify="required">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">注册时间</label>
            <div class="layui-input-inline">
                <input id = "registerTime" type="text"  th:value="${user.registerTime}" class="layui-input" placeholder="yyyy-MM-dd"></input>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">特长</label>
        <div class="layui-input-block">
            <input id = "special" type="text" th:value="${user.special}" name="special" lay-verify="required" placeholder="请输入个人特长" autocomplete="off" class="layui-input"></input>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">党的认识</label>
        <div class="layui-input-block">
            <textarea id = "cogition" name="cognition" th:value="${user.cognition}" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="submit">立即完善</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
<script th:inline="javascript">
    //<![CDATA[
    layui.use('laydate', function() {
        var laydate = layui.laydate;

        //常规用法
        laydate.render({
            elem: '#birth'
        });

        laydate.render({
            elem: '#registerTime'
        });

    });

    var uid = [[${uid}]];
    var user = [[${user}]];
    var branchList = [[${branchList}]];
    $(document).ready(function () {
        $("#bid").children('option').remove();
        var option = "";
        for(var i = 0; i < branchList.length; i++){
            option += "<option value = '" + branchList[i].bid + "'>" + decodeURI(branchList[i].bName) + "</option>";
        }
        $("#bid").append(option);
        $("#bid")[0].value = user.bid;
        $("#birth")[0].value = formatDate(user.birth);
        $("#registerTime")[0].value = formatDate(user.registerTime);
        if(user.sex == '1'){
            $("#sexMan").attr("checked","checked");
        }else{
            $("#sexWoman").attr("checked","checked");
        }

        $("#submit").click(function () {
           var uid = $("#uid").val();
           var name = $("#name").val();
           var sex = $("#sex").val();
           var birth = $("#birth").val();
           var phone = $("#phone").val();
           var mail = $("#mail").val();
           var grade = $("#grade").val();
           var classNum = $("#classNum").val();
           var bid = $("#bid").val();
           var registerTime = $("#registerTime").val();
           var special = $("#special").val();
           var cogition = $("#cogition").val();

           var data = new Object();
           var sendUrl = "/user/updateUserInfo";
           data['name'] = name;
           data['sex'] = sex;
           data['birth'] = birth;
           data['phone'] = phone;
           data['mail'] = mail;
           data['grade'] = grade;
           data['classNum'] = classNum;
           data['bid'] = bid;
           data['registerTime'] = registerTime;
           data['special'] = special;
           data['cogition'] = cogition;

           var res = requestSend(sendUrl,data);
           if(loadResult(res.feedback)){
               swal("提示", "修改成功", "success");
               $("#uid")[0].value = "";
               $("#name")[0].value = "";
               $("#sex")[0].value = "";
               $("#birth")[0].value = "";
               $("#phone")[0].value = "";
               $("#mail")[0].value = "";
               $("#grade")[0].value = "";
               $("#classNum")[0].value = "";
               $("#bid")[0].value = "";
               $("#registerTime")[0].value = "";
               $("#special")[0].value = "";
               $("#cogition")[0].value = "";
           }
        });
    });
    //]]>

</script>


</body>

</html>