<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/mycss.css" rel="stylesheet" type="text/css">
    <link href="/css/sweet-alert.css" rel="stylesheet" type="text/css">

    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/sweet-alert.min.js" ></script>
    <script src="/js/myjs.js"></script>
    <title>注册</title>
</head>
<body>
<header class="LRHead">
    <h1>注册</h1>
</header>
<div class="LRBody">
    <div class="LRForm">
        <form  id = "RegisterForm" method="post" action="">
            <div>
                <input type="number" name="identityID" placeholder="学号" id = "RegisterID" /><br>
                <input type="password" name="pass1" placeholder="密码" value="" id = "RegisterPass1" /><br>
                <input type="password" name="pass2" placeholder="确认密码" value="" id = "RegisterPass2" /><br>
            </div>
        </form>
        <button class="btn MySmBtn" id = "LR_Register" style="width: 200px;">注册</button>
    </div>
</div>
<script src="/js/LR.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

        $("#btnLogin").click(function () {

            if($("#RegisterPass1").val() != $("#RegisterPass2").val()){
                alerterror("两次密码输入不一致");
                return;
            }

            var data = new Object();
            var sendurl = "http://localhost:8080/user/userRegister";
            data['uid'] = $("#RegisterID").val();
            data['pass1'] =  hex_md5($("#RegisterPass1").val());
            data['pass1'] =  hex_md5($("#RegisterPass2").val());
            var resData = requestSend(sendurl, data);
            if(loadResult(resData.feedback)){
                swal("恭喜", "注册成功", "success");
            }

        });
    });
</script>

</body>
</html>